<%= render 'layouts/navbar' %>

<div class="container">
  <p>
    <%= fa_icon 'check' %>
    Sei correttamente registrato al GuestBook. <br>
    La tua e-Mail &egrave;: <a href="mailto:<%= @user.username %>"><%= @user.username %></a>
  </p>
  <p><a href="/users/login">Accedi</a> ora.</p>

</div>