<%= render 'layouts/navbar' %>

<div class="jumbotron">
    <h1>Rails GuestBook</h1>
    <p>Applicazione di esempio per il libro Ruby e Rails</p>
    <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Registrati</a></p>
    <small><i>...oppure <a href="/users/login">accedi</a>.</i></small>
  </div>
</div>

