<%= render 'layouts/navbar' %>

<div class="jumbotron">
    <h1>Rails GuestBook</h1>
    <p class="text-warning">Applicazione di esempio per il libro Ruby e Rails</p>
    <p><a class="btn btn-primary btn-lg" href="/entries" role="button">Entra&hellip;</a></p>
  </div>
</div>

