<% content_for :nav do %>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
<% end %>

<div class="jumbotron">
    <h1>Rails GuestBook</h1>
    <p>Applicazione di esempio per il libro Ruby e Rails</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Registrati</a></p>
    <small><i>...oppure <a href="#">accedi</a>.</i></small>
  </div>
</div>

