<% content_for :nav do %>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation" class="active"><a href="/entry/list">Messaggi</a></li>
      <li role="presentation"><a href="#">Accedi</a></li>
      <li role="presentation"><a href="/static/about">?</a></li>
    </ul>
<% end %>


<% if @entries.blank? %>

  <p>
  Al momento non ci sono messaggi nel GuestBook.
  </p>

<% else %>

    <table class="table table-striped">

      <th width="30%">&nbsp;</th>
      <th width="30%">Autore</th>
      <th width="70%">Messaggio</th>

      <% entries.each do |msg| %>

      <tr>
        <td>
          <%= msg.created_at %>
        </td>
        <td>
          <% if msg.user.nil? %>
            Utente Anonimo
          <% else %>
            <%= msg.user.username %>
          <% end %>
        </td>
        <td>
          <a href="#"><%= msg.title %></a>
        </td>
      </tr>

      <% end %>

    </table>

<% end %>

<%= link_to 'Aggiungi un nuovo messaggio', { action: 'new' } %>


