<div class="container topspacer">

  <div class="row">

    <div class="col-md-4">

      <h4 class="text-primary"><strong>RUBY-GUESTBOOK</strong></h4>

    </div>
    <div class="col-md-8">

      <ul class="nav nav-pills pull-right">
        <!-- HOME -->
        <% if params[:action] == 'home' %>
            <li role="presentation" class="active"><a href="/">
              Home
            </a></li>
        <% else %>
            <li role="presentation"><a href="/">Home</a></li>
        <% end %>

        <!-- MESSAGGI -->
        <% if params[:action] == 'index' %>
            <li role="presentation" class="active"><a href="/entries">Libro degli Ospiti</a></li>
        <% else %>
            <li role="presentation"><a href="/entries">Libro degli Ospiti</a></li>
        <% end %>

        <!-- LOGIN / LOGOUT -->
        <% if not is_logged_in? %>
          <% if params[:action] == 'login' %>
              <li role="presentation" class="active"><a href="/users/login">Accedi</a></li>
          <% else %>
              <li role="presentation"><a href="/users/login">Accedi</a></li>
          <% end %>
        <% else %>
            <li role="presentation">
              <%= link_to 'Logout', controller: 'users', action: 'logout', id: session[:current_user_id] %>
            </li>
        <% end %>


        <!-- ABOUT -->
        <% if params[:action] == 'about' %>
            <li role="presentation" class="active"><a href="/static/about">?</a></li>
        <% else %>
            <li role="presentation"><a href="/static/about">?</a></li>
        <% end %>

      </ul>

    </div>

  </div>

</div>
<div class="topspacer"></div>



